.login-background{
    padding-top: -50px !important;
    background: url("../../../../node_modules/patternfly/dist/img/bg-login.jpg");
    background-position:center center;
    position:fixed;
    width:100%;
    height:100%;
    background-size:cover;
}